:root {
	--primary: #7170ac;
	--secondary: #BF46C1;
	--accent: #3bbcd9;	
	--dark: #0C0D0D;
	--light: #fff;
}

*{
	margin:0;
	padding:0;
	border:0;
	font-size: 1em;
}

header {
  padding:0.5em 0em 0.5em 0em;
  background-color: var(--primary);
  /*flex-wrap: wrap;*/

}
.hand{
	margin-right:0.5em;
	
}
.vert-center{
	
	height:0%;
	padding:0;
	margin:0;
}
.botonmenu{
	display:block;
	width:55px;
	font-weight:700;
	border-radius:0.3em;
	background-color: #BF46C1;
	padding: 8px 8px;
	margin:0.15em;
	justify-content: right;
	align-items:center;
	/*padding: 8px 11px;*/
}
/*.Vlog{
	color:#fff;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	flex-direction:column;
	text-transform: uppercase;

}
.Vlog:hover{
	color: #fff;
} */
	
.hand{
	cursor: pointer;
}
/*parte1*/
.text-primario{
	color:var(--secondary);
	font-size:2em;
	font-family: roboto;
	font-weight: bold;
	letter-spacing: 0.3em;
	text-align:center;
}
.text-accent{
	color:var(--accent);
	font-size:1.5em;
	font-family: roboto;
	font-weight: bold;
	text-align:center;
	padding-top:-2em;
}
.text-normal{
	color:var(--dark);
	font-size:1.5em;
	font-family: roboto;
	font-weight: bold;
    text-align:center;
}
.text-normalx{
	color:var(--dark);
	font-size:1.5em;
	font-family: roboto;
	font-weight: bold;
    text-align:center;
}
.vert-center-column{
	width: 100%;
max-width: 600px;	

}

.text-header{
	color:var(--light);
	font-size:1.5em;
	font-family: roboto;
}


.vert-center{
	display: flex;
	align-items: center;
}

.icon-social{	
	position:relative;	
	justify-content: right;
	padding-right: 1em;	
	flex-grow:1;
}

.icon-social i{
	background:var(--accent);	
	border-radius:0.3em;
	padding: 0.2em 0.3em 0.2em 0.3em;
	margin:0.1em;
}
/*---------MENÚ-------*/
#btn-menu{
	display:none;
}
.vert-center label{
	display:none;
	width:50px;
	height:50px;
	padding:10px;
	border-right:1px solid #fff;
}
 label:hover{
	cursor:pointer;
	/*background:rgba(0,0,0,0.3);*/
	
}

.menu ul{
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex-direction:row;
}

.menu li:hover{
	background:rgba(0,0,0,0.3);

}
.menu  li a{
	display:block;
	padding:0.7em 2em;
	color:#fff;
	text-decoration:none;
	position:relative;
	font-weight:700;
	align-items:center;
	
}

.menu  li a:hover{
	bottom:0;
}
.menu li a::after{
	content:"";
	background-color:#BF46C1;
	position:absolute;
	left:0.4em;
	bottom:0;
	top:calc(60% + 1em);
	width:90%;
	height:5px;	
	opacity:0;
	transition:opacity 0.3s;
	z-index:1;
	
}

.menu li a.select::after,
.menu li a:hover::after{
	opacity:0.8;
}
.menu li a:hover{
	color: #BF46C1;
}
/*Para dispositivos*/
@media (max-width:760px){
	.vert-center label{
	display:block;

	}

  .menu{
	position:fixed;
	width:100%;
	height:55vh;
	background:#7170ac; 
	top:49px;
	left:-100%;
	text-align:center;
	transition:all .5s;
	
}
  .menu ul{
  flex-direction:column;

}
.menu ul li{
	display:block;
	margin:10px 0;
	line-height:30px;

}

.menu ul li a{
	font-size:20px;
	color:#fff;
	text-decoration:none;
	margin-top:1.2em;
	text-align:center;
	align-items:center;
	
}
.menu li{
}
#btn-menu:checked~ .menu{
   margin:0;
   left:0;
  
}
.menu li a::after{
	display:none;
}
}

@media (min-width:360px)and (max-width:740px){

 .menu{
	width:100%;
	height:45vh;
}
}

@media (min-width:375px)and (max-width:667px){

 .menu{
	width:100%;
	height:45vh;
}
}

/*@media (min-width:414px)and (max-width:896px){

 .menu{
	width:100%;
	height:10vh;
}
}	

@media (min-width:390px)and (max-width:844px){

 .menu{
	width:100%;
	height:25vh;
}*/
}


/*parte2*/

.vert-center-column1{
	display: flex;
	flex-direction:column;
    text-align:left;	
	align-items: center;
}
.text-primario1{
	
	color:#BF46C1;
	font-size:2em;
	font-family: roboto;
	font-weight: bold;
	text-align:center;
	padding-top:1.5em;
}
.text-primario2{
	color:#3BBCD9;
	font-size:2em;
	font-family: roboto;
	font-weight: bold;
	text-align:center;
	padding-top:1.5em;
}

.text-normal1{

	color:#4d5051;
	font-size:1.5em;
	font-family: roboto;
	font-weight: bold;
    text-align:center;
	align-items:left;
}
.color{
	background:#C5E7F0;
}

.vert-center-column2{
	display: flex;
	flex-direction:column;
    text-align:left;	
	align-items: center;
	
}
.text-primario4{
	
	color:var(--dark);
	font-size:2em;
	font-family: roboto;
	font-weight: bold;
	text-align:center;
	padding-top:1.5em;
}

.btn.btn-info{
	background:#BF46C1;
	color:#fff;
	margin:0.8em;
}
.color1{
	background:#C5E7F0;
	height:400px;
	display:grid;
	place-items:center;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:25px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
@media (max-width: 575.98px) { 
	* {
		margin:0;
		padding:0;
		border:0;
		font-size: 10px;
	}
 }
 
 /*Animación*/
 
 .icon-social.vert-center{
	 animation:entradaTop 0.4s ease 0.4s forwards;
	 opacity:0;
 }
 .text-primario{
	  animation:entradaRight 0.5s ease 0.5s forwards ;
	  opacity:0;
 }
 .text-normal{
	animation:entradaRight 0.9s ease 0.9s forwards ;
	  opacity:0; 
 }
 .text-accent{
	animation:entradaRight 1.3s ease 1.3s forwards ;
	  opacity:0;  
 }
 .btn.btn-info{
	animation:entradaRight 1.5s ease 1.5s forwards ;
	 opacity:0; 
 }

 .splash{
	width: 100%;
 }

 
 @keyframes entradaTop{
	 from{
		 transform:translateY(-500px);
		 opacity:0;
	 }
	 to{
		transform:translateY(0);
		 opacity:1; 
	 }
 }
 
  @keyframes entradaScale{
	 0%{
		 transform:scale(0);
		 opacity:0;
	 }
	 70%{
		transform:scale(1.2);
		 opacity:1; 
	 }
	 100%{
		 transform:scale(1);
		 opacity:1; 
	 }
 }
 @keyframes entradaRight{
	 from{
		 transform:translateX(500px);
		 opacity:0;
	 }
	 to{
		transform:translateX(0);
		 opacity:1; 
	 }
 }
 @keyframes entradaLeft{
	 from{
		 transform:translateX(-500px);
		 opacity:0;
	 }
	 to{
		transform:translateX(0);
		 opacity:1; 
	 }
 }
 .img1{
	 width:100%;
	 margin-top:-0.1em;
 }
 @media (min-width:768px)and (max-width:1024px){
	.card0{
		margin-top:3.5em;
	}
	.card1{
		margin-top:1.8em;
	}
	.card2{
		margin-top:3em;
	}
	.card3{
		margin-top:1.3em;
	}
}
@media (min-width:820px)and (max-width:1180px){
.card0{
		margin-top:2.5em;
	}
	.card1{
		margin-top:1.4em;
	}
	.card2{
		margin-top:1em;
	}
	.card3{
		margin-top:0.7em;
	}
}
@media (min-width:375px)and (max-width:667px){
.card0{
		margin:2em;
	}
	.card1{
		margin:2em;
	}
	.card2{
		margin:2em;
	}
	.card3{
		margin:2em;
	}
	
}

@media (min-width:360px)and (max-width:740px){
     .card0{
		margin:2em;
	}
	.card1{
		margin:2em;
	}
	.card2{
		margin:2em;
	}
	.card3{
		margin:2em;
	}
	
}

.color3{
	background-color: #E6E6E6;
}
.logos{
	display:flex;
	justify-content:center;
	
	
}
.logo3{
	width:200px;
	height:100px;
	padding-right:2em;	
	
}
.logo2{
	width:300px;
	height:100px;
	padding-left:0em;
	
}
.logo1{
	width:190px;
	height:100px;
	margin-top:-1.5em;
	
}

@media (min-width:375px)and (max-width:667px){
	.logo1{
		margin-left:6em;
	}
	.logo2{
		margin-left:5em;
		margin-top:-2.5em;
		width:250px;
	    height:100px
	}
	.logo3{
		margin-left:6.5em;
	}
	.text{
	text-align:center;
   }
   .div{
	top:350px;	
	}
}

@media (min-width:360px)and (max-width:740px){
	.logo1{
		margin-left:6em;
	}
	.logo2{
		margin-left:5em;
		margin-top:-2.5em;
		width:250px;
	    height:100px
	}
	.logo3{
		margin-left:6.5em;
	}
	.text{
	text-align:center;
	}
	.div{
	margin-left: 173px;	
	}

}


.color0{
	background:#fff;
	height:400px;
	display:grid;
	place-items:center;
}
.text5{
	color:#3BBCD9;
	font-size:3em;
}
/* ----- CARDS -------*/

.container{
	width:100%;
	display:flex;
	max-width: 1100px;
}
.cardx{
	width:100%;
	margin:20px;
	border-radius:6px;
	overflow:hidden;
	background:#fff;
	box-shadow:0px 1px 10px rgba(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;
}
.cardx:hover{

	box-shadow:5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
	
}
.cardx img{
	width:100%;
	height:auto;
}
.cardx .contenido{
	padding:10px;
	text-align:left;
	margin-top:-1em;
}
.cardx .contenido p{
	line-height:1.5;
	color:#757575;
}
.cardx .contenido h3{
	font-weight:400;
	margin-bottom:9px;
	color:#BF46C1;
}
@media (min-width:375px)and (max-width:667px){	
.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
}

@media (min-width:360px)and (max-width:740px){
	.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
}
@media (min-width:820px)and (max-width:1180px){
	.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
}
@media (min-width:768px)and (max-width:1024px){
	.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}	
}

/*
.container1{
	width:100%;
	display:flex;
	max-width: 755px;
	margin-left:95px;





